@import url('https://fonts.googleapis.com/css?family=Pragati+Narrow&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --bg-color: #FDFDFD;
    --text-color: #0F0F0F;
    --text-font: 'Poppins', sans-serif;
}


html,body {
    height: 100%;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: var(--text-font);
    background-color: var(--bg-color);
    color: var(--text-color);
}

html::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: unset;
}

#container {
    opacity: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border-radius: 0 0 10px 10px; */
    background-color: var(--bg-color);
}

#logo-link {
    height: 100px;;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo, #logo-min {
    height: 60px;
    justify-self: flex-start;
    filter: grayscale(50%);
}

#name {
    height: 100px;
    line-height: 100px;
    font-family: 'Pragati Narrow', sans-serif;
    color: #6EC398;
    margin-left: 20px;
    font-size: 70px;
}

#menu {
    display: flex;
    width: 100vw;
    text-align: center;
    background-color: var(--bg-color);
    justify-content: center;
    align-items: center;
    padding: 0 5vw 0 5vw;
}

#logo-min {
    display: none;
    position: absolute;
    left: 5vw;
}

.menu-item {
    font-size: 17px;
    margin: 2.5vw;
    margin-bottom: 10px;
    transition: color .5s;
}

.menu-item:hover {
    color: #6BC29B;
    transition: color .3s;
}

#particles-js {
    width: 100vw;
    height: 150vh;
    background-image: linear-gradient(to right top, #69bb8d, #6cbf91, #70c394, #73c798, #77cb9c, #7dcf9f, #82d3a1, #88d7a4, #91dca7, #99e0a9, #a2e5ac, #aae9af);
    /* background-image: linear-gradient(45deg, rgba(105,187,141,1) 0%, rgba(124,209,161,1) 35%, rgba(170,233,175,1) 99%); */
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

@media only screen and (min-width: 800px) {
    #header {
        position: fixed;
        height: 100px;
        flex-direction: row;
        padding: 20px 5vw 20px 5vw;
        align-items: center;
        justify-content: flex-start;
    }

    #menu {
        width: unset;
        margin-left: auto;
        padding: unset;
        align-items: center;
    }

    .menu-item {
        margin: 0 2.5vw 0 2.5vw;
    }

}

@media only screen and (min-width: 1100px) {
    #header {
        padding: 20px 15vw 20px 15vw;
    }
}
