* {
    box-sizing: border-box;
}

:root {
    --bg-color: #FDFDFD;
    --text-color: #0F0F0F;
}

html,body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
}

a {
    text-decoration: none;
    color: unset;
}

#container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header * {
    display: inline-block;
}

#logo {
    align-self: flex-start;
    height: 100%;
}

#menu {
    align-self: flex-end;
}
